<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Brooks Hall</string>
		<key>description</key>
		<string>College of Design</string>
		<key>longitude</key>
		<real>-78.66448</real>
		<key>latitude</key>
		<real>35.78461</real>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>Bell Tower</string>
		<key>description</key>
		<string>North Carolina State</string>
		<key>longitude</key>
		<real>-78.66348000000001</real>
		<key>latitude</key>
		<real>35.78612</real>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Durham Bulls</string>
		<key>description</key>
		<string>Durham Bulls</string>
		<key>longitude</key>
		<real>-78.90482</real>
		<key>latitude</key>
		<real>35.99158</real>
	</dict>
</dict>
</plist>
